@import "tailwindcss";

@import "@fontsource/roboto-serif";
@import "@fontsource/roboto-flex";

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body,
    html {
        min-height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
}